body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(img/ecologia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: center;
}

.contenitore {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contenitore-sinistro,
.contenitore-destro {
  padding: 20px;
}

.contenitore-gioco {
  background-image: url(img/ecologia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.griglia-gioco {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(6, 100px);
  gap: 5px;
}

.cella {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.cella-0 {
  background-image: url(img/vetro.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}

.cella-1 {
  background-image: url(img/secco.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}

.cella-2 {
  background-image: url(img/carta.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}

.cella-3 {
  background-image: url(img/plastica.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}

.cella-4 {
  background-image: url(img/tossico.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}

.cella-5 {
  background-image: url(img/riciclo.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}

#nomegioco {
  color: black;
  font-size: 60px;
  text-align: center;
}

.potere-riciclo {
  text-align: center;
  margin-top: 20px;
}

.potere-riciclo img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.testoingrassetto {
  font-weight: bold;

  font-size: 25px;
}

.cella-selezionata {
  border: 7px solid orange;

}
#secco,
#conteggioTipo1 {
  all: initial;
  font-weight: bold;
  width: 100px;
  height: 80px;
  text-align: center;
  background-color: rgb(197, 14, 197);
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  line-height: 1;

}

#carta,
#conteggioTipo2 {
  all: initial;
  font-weight: bold;
  width: 100px;
  height: 60px;
  text-align: center;
  background-color: rgb(171, 134, 0);
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  line-height: 1;
}

#plastica,
#conteggioTipo3 {
  all: initial;
  font-weight: bold;
  width: 100px;
  height: 60px;
  text-align: center;
  background-color: rgb(20, 197, 233);
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  line-height: 1;
}

#vetro,
#conteggioTipo0 {
  all: initial;
  font-weight: bold;
  width: 100px;
  height: 60px;
  text-align: center;
  background-color: rgb(0, 136, 9);
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  line-height: 1;

}